<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-8 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">WELCOME TO LARGO FARM YOUR SOURCE FOR GREAT TASTING BEEF, CHICKEN AND EGGS</h1>
    <p class="lead fw-normal">Serving Durham Region & GTA</p>
    <a class="btn btn-outline-primary" href="#">Shop Now!</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="d-xl-flex flex-xl-wrap w-100 justify-content-center my-3">
  <div class="text-bg-dark pt-3 px-3 pt-5 px-5 text-center overflow-hidden" style="min-width: 50%">
    <div class="my-3 py-3">
      <h2 class="display-5">We are proud members of OFA & are registered Ontario Small Flock Poultry producers.</h2>
      <p class="lead"></p>
    </div>
  </div>
  <div class="text-bg-dark pt-3 px-3 pt-1 px-1 text-center overflow-hidden" style="min-width: 50%">
    <div class="my-3 py-3">
      <img src="https://img1.wsimg.com/isteam/ip/307caa71-70e6-4597-b084-fe94cd7dc77c/IMG_6667.JPG/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m" class="img-fluid" alt="...">
    </div>
  </div>
</div>

